/.idea/.gitignore
/.idea/compiler.xml
/backend/mall-admin/ecommerce-app.tar
/.idea/encodings.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace_kwc-hishops-admin.iml
/.vscode
/.idea/*
.idea/
.idea/workspace.xml

*.env

/.dist/mall-admin_latest.tar

.DS_Store
**/.DS_Store

/git-stats-by-author.sh