<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email 修改申請通知</title>
	<style>
		html,body { padding: 0; margin:0; }
	</style>
</head>
<body>
	<div style="font-family:Arial,Helvetica,sans-serif; line-height: 1.5; font-weight: normal; font-size: 15px; color: #2F3044; min-height: 100%; margin:0; padding:0; width:100%; background-color:#edf2f7">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;margin:0 auto; padding:0; max-width:600px">
			<tbody>
				<tr>
					<td align="left" valign="center" style="padding: 40px 20px 20px 60px;">
						<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
							<tr>
								<td align="left" valign="middle" style="padding-right: 20px;">
									<a href="https://www.hishops.com.tw/" rel="noopener" target="_blank">
										<img alt="Logo" width="31" height="33" src="https://s3.keywaycloud.com.tw/common/email-assets/HiShop_dark.png" style="display: block;" />
									</a>
								</td>
								<td align="left" valign="middle">
									<span style="font-size: 20px; font-weight: 700; color: #181C32; font-family:Arial,Helvetica,sans-serif;">好嗨商</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" valign="center">
						<div style="text-align:left; margin: 0 20px 0 20px; padding: 40px; background-color:#ffffff; border-radius: 6px">
							<!--begin:Email content-->
							<div style="padding-bottom: 30px; font-size: 18px; color: #181C32; font-weight: 600;">
								<strong>您好!</strong>
							</div>
							<div style="padding-bottom: 30px; color: #2F3044;">我們收到您修改好嗨商 HiShops 登入帳號的申請，請點擊下面的按鈕完成變更生效：<br>(此確認連結將在 24 小時後失效)</div>
							<div style="padding-bottom: 40px; text-align:left;">
								<a th:href="${verificationUrl}" rel="noopener" target="_blank" style="background-color:#009ef7; color:#ffffff; font-size: 14px; font-weight: 600; border-radius: 6px; padding: 11px 19px; display: inline-block; text-decoration: none;">確認變更</a>
							</div>
							<div style="padding-bottom: 30px; color: #2F3044;">若您最近沒有提出修改帳號的申請，且認為可能有人存取了您的帳號，請盡快聯繫我們。您的數位安全對我們來說非常重要！</div>
							<!-- <div style="border-top: 1px solid #e9ecef; margin: 15px 0"></div>
							<div style="padding-bottom: 50px; word-break: break-all; overflow-wrap: break-word; color: #2F3044;">
								<p style="margin-bottom: 10px;">按鈕無法使用？請嘗試將以下網址複製到您的瀏覽器中：</p>
								<a th:href="${verificationUrl}" rel="noopener" target="_blank" style="text-decoration:none; color: #009ef7; font-size: 14px; font-weight: 600;">確認變更的URL連結</a>
							</div> -->
							<!-- 聯絡資訊區塊 -->
							<div style="padding-top: 30px; margin-top: 30px;">
								<p style="color:#181C32; font-size: 15px; font-weight: 600; margin-bottom:10px; text-align:left;">
									關於好嗨商的任何問題，歡迎隨時聯繫我們的客服團隊：
								</p>
								<div style="border-top: 1px solid #e9ecef; padding-top: 10px; margin-top: 10px;">
									<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
										<tbody>
											<tr>
												<td style="padding: 0 0 0 0; text-align:left;">
													<span style="color:#7E8299; font-size: 13px; display:inline-block; width: 80px;">官方LINE：</span>
													<a href="https://lin.ee/FgpCCk1" target="_blank" rel="noopener" style="color:#009ef7; text-decoration:none; font-size: 14px; font-weight: 600;">@322sqanl</a>
												</td>
											</tr>
											<tr>
												<td style="padding: 0 0 0 0; text-align:left;">
													<span style="color:#7E8299; font-size: 13px; display:inline-block; width: 80px;">聯絡電話：</span>
													<a href="tel:0225580837" style="color:#2F3044; text-decoration:none; font-size: 14px; font-weight: 500;">02-2558-0837</a>
												</td>
											</tr>
											<tr>
												<td style="padding: 0; text-align:left;">
													<span style="color:#7E8299; font-size: 13px; display:inline-block; width: 80px;">客服信箱：</span>
													<a href="mailto:services.hishops@gmail.com" style="color:#009ef7; text-decoration:none; font-size: 14px; font-weight: 600;">services.hishops@gmail.com</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- 簽名區塊 -->
							<div style="padding-top: 30px; padding-bottom: 10px; color: #2F3044;">好嗨商團隊 敬上。</div>
							<!--end:Email content-->
						</div>
					</td>
				</tr>
				<tr>
					<td align="center" valign="center" style="font-size: 13px; text-align:center; padding: 20px; color: #6d6e7c;">
						<p>好嗨商 | HiShops &copy; <span th:text="${#temporals.year(#temporals.now())}"></span> 是由 <a href="https://www.keywaycloud.com.tw" rel="noopener" target="_blank" style="color: #6d6e7c; text-decoration: none;">奇威雲端科技</a> 為您精心打造的電商平台。</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
